body{
  background-image: url("https://img.freepik.com/free-photo/vintage-chair-barbershop_155003-1387.jpg?w=1060&t=st=1671842366~exp=1671842966~hmac=ae9a5f56ea57699eb537daaff97b46518be3db4433bc57be15b6f58fd0e3e9a3");
  overflow: hidden;
  background-size: cover;
  position: center;
}

.contents{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.594);
  margin-left: 30%;
  margin-top: 20px;
  width: 600px;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 500px;
  padding-top: 20px;
  border-radius: 4px;
}

h2{
  margin-top: 20px;
  position: absolute;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  margin-left: 30px;
  color: white;
}

input{
  margin-bottom: 20px;
}

button{
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}