body{
  background-image: url("https://img.freepik.com/free-photo/working-tools-barber-master_651396-126.jpg?w=1060&t=st=1671842331~exp=1671842931~hmac=da8545a5c8b51e2e5ccdd5e3c1291b546899a3c9e69f85ea4f94189a2c41121f");
  overflow: hidden;
  background-size: cover;
  position: center;
}

h2{
  margin-top: 20px;
  position: absolute;
  font-family: fantasy;
  font-weight: bold;
  margin-left: 30px;
  color: rgb(245, 3, 3);
}

.logo{
  position:absolute;
  width: 420px;
  margin-top: 10%;
  margin-left: 34%;
}

.homeImg {  
  border: solid rgb(243, 0, 203) 10px;
  margin-top: 280px;
  position: absolute;
  animation: slide 4s;
}


.homeImg2 {
  border: solid rgb(5, 212, 202) 10px;
  margin-top: 100px;
  margin-left:61.1%;
  position: absolute;
  animation: slide2 4s;
}




